.navbar {
  height: 60px;
  border: none;
  z-index: 100;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 12px;
  background-color: none;
}

.link {
  color: #577590;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
.link:hover {
  color: #96dbe2;
  text-decoration: none;
}